# Binaries
service
*.dylib

# Test binaries
*.test

# Output of the go coverage tool
*.out

# Data files
data.json

# Dependency directories
vendor/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
*~

# OS specific files
.DS_Store
